
* {

    background:       #00000000;
    background-alt:   #282839FF;
    foreground:       #D9E0EEFF;
    selected:         #7AA2F7FF;
    selected-bg:      #FFFFFF0A;
    active:           #ABE9B3FF;
    urgent:           #F28FADFF;
    border:                gray;
}
